<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/stylesheets/test.css">
  </head>
  <body class="chat">
    <p>Chat App Landing page</p>
    <ol id="messages">

    </ol>
    <form id="message-from">
      <input name="message" type="text" placeholder="Write your message" autofocus autocomplete="off">
      <button>Send</button>
    </form>
    <button id="send-location">Sending Location</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/libs/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/javascript/index.js"></script>
  </body>
</html>
